<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/logistics-tracking-site/Public/css/driver-style.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100,0,0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Driver Tracking</title>
</head>

<body>
  <header>
    <h1 id="driver-name">(DEMO)</h1>
    <div>
      <button id="logout">LOGOUT</button>
    </div>
  </header>

  <div class="panel search-bar">
      <span style="font-size: 1.6rem; font-weight: 600; position: absolute; left: 0.5rem;" class="material-symbols-outlined">
        search
      </span>
      <input type="text" id="search-parcel">
    </div>

  <div class="panel tracking">
    <div id="tracking-info">

    </div>
  </div>

  <script type="module" src="/logistics-tracking-site/Public/js/driver-script.js"></script>
</body>

</html>